.profile {
  display: flex;
  min-height: 100vh;
  max-width: 999px;
  margin: 0 auto;
  justify-content: space-between;
  &__wrap {
    position: relative;
    width: 40%;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__image {
    position: absolute;
    bottom: 100px;
    left: 60px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__box {
    width: 60%;
    margin: 50px;
    text-align: left;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 36px;
  }
}