.skills {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  justify-content: space-between;
  &__wrap {
    display: flex;
    width: 40%;
    background: #F4F1EB;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__title {
    font-size: 22px;
    font-weight: bold;
  }
  &__box {
    width: 60%;
    padding: 30px;
    text-align: left;
    background: #EFE9E1;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &__sub {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  &__list {
    list-style: disc;
    padding-left: 1.5em;
  }
  &__name {
    margin-bottom: 4px;
    font-weight: bold;
  }
  &__text {
    margin-bottom: 12px;
    font-size: 12px;
    & + .skills__sub {
      margin-top: 40px;
    }
  }
}