.top {
  display: flex;
  width: 100%;
  min-height: 100vh;
  &__wrap {
    display: flex;
    width: 60%;
    height: 100vh;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    background: #F4F1EB;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &__text {
    margin-bottom: 20px;
  }
  &__title {
    font-size: 80px;
    font-weight: bold;
  }
  &__image {
    width: 40%;
    background: url(../image/main.jpg);
    background-size: cover;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

// 矢印のスタイル
.container {
  position: relative;
  left: calc(50% / 2 + 20px);
  width: 60px;
  height: 60px;
}

.chevron {
  position: absolute;
  width: 60px;
  height: 16px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
  border-radius: 3px 0 0 3px;
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
  border-radius: 0 3px 3px 0;
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(80px);
  }
  67% {
    opacity: 1;
    transform: translateY(100px);
  }
  100% {
    opacity: 0;
    transform: translateY(140px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}