.works2 {
  display: flex;
  margin: 30px 30px 60px;
  justify-content: space-around;
  flex-wrap: wrap;
  &__box {
    width: 25%;
    padding: 18px;
    box-sizing: border-box;
    cursor: pointer;
    @media screen and (max-width: 767px) {
      width: 50%;
    }
  }
  &__text {
    margin-top: 10px;
    font-size: 12px;
    text-align: left;
  }
  &__bold {
    font-weight: bold;
  }
}

.modal {
  text-align: center;
  overflow-y: scroll;
}

.ReactModal__Content {
  overscroll-behavior-y: contain;
}
